
/* =============== REUSABLE STYLES ===============  */


/* Typography */

@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

body {
    font-family: 'Space Grotesk', sans-serif;
    font-size: min(max(1rem, 4vw), 22px);
    font-weight: 400;
}

h1 {
    font-size: min(max(3.5rem, 4vw), 72px);
    font-weight: 500;
    line-height: 88px;
    text-align: center;
    margin: 80px 20vw;
    max-width: 60vw
}

h2 {
    font-size: min(max(3rem, 4vw), 64px);
    font-weight: 500;
    text-align: center;
    max-width: 60vw;
    margin: 0;
}

h3 {
    font-size: min(max(2.5rem, 4vw), 56px);
    font-weight: 500;
    margin: 0;
}

h4 {
    font-size: min(max(2rem, 4vw), 48px);
    font-weight: 500;
}

h5 {
    font-size: min(max(1.5rem, 4vw), 40px);
    font-weight: 500;
    margin: 0;
    padding: 0;
}

h6 {
    font-size: min(max(1.375rem, 4vw), 32px);
    font-weight: 500;
    margin: 0;
    padding: 0;
    margin-bottom: 12px;
    color: var(--ui-black);
}

.body-subtitle {
    font-size: 22px;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 0em;
}

p {
    font-size: min(max(1rem, 4vw), 22px);
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    margin: 0;
    padding: 0;
    color: var(--ui-dark-grey);
}

.body-small {
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
}

/* Colour */
:root {
    --brand-color: #1842D3;
    --ui-black: #030303;
    --ui-dark-grey: #545353;
    --ui-med-grey: #ACA7A7;
    --ui-light-grey:#F4F4F4;
    --ui-white: #ffffff;
 }


a {
    text-decoration: none;
    color: var(--ui-black);
}

li {
    list-style: none;
}



/* Borders */
.border-top {
      border-top: 1px solid var(--ui-black);
}

.border-left {
    border-left: 1px solid var(--ui-black);
}

.border-bottom {
    border-bottom: 1px solid var(--ui-black);
}

.border-right {
    border-right: 1px solid var(--ui-black);
}



/* =============== SPACING AND ALIGNMENT ===============  */

.flex-center {
    display: flex;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 240px;
    margin: 80px 0px 240px 0px;
}
/* =============== PRODUCT ===============  */
.productFlex {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 100px;
}

.productIMG {
  max-width: 60vw;
  height: auto;
}

.productSub{
  text-align: center; 
  max-width: 60vw;
}

.productArticle {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}

.productFeature{
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  column-gap: 80px;
  flex-wrap: wrap;
}

.keyFeature {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
  max-width: 15vw;
}

.brands {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: 24px;
  row-gap: 24px;
  flex-wrap: wrap;
  max-width: 60vw;
}

.brandsSpacing {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  justify-content: center;
  align-items: center;
}

.buttonsRow {
  display: flex;
  flex-direction: row;
  column-gap: 24px;
}

div.keyFeature > p {
  text-align: center;
}

.productRow {
  display: flex;
  flex-direction: row;
  column-gap: 160px;
}

.productRowText {
    max-width: 40vw;
    align-items: center;
    justify-content: center;
}

.listContainer {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}

.featureList {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  align-items: center;
}

/* =============== buttons ===============  */

* {
    box-sizing: border-box;
  }
  *::before, *::after {
    box-sizing: border-box;
  }
  
  button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
  }
  button.learn-more {
    width: 12rem;
    height: auto;
    font-size: 1rem;
    line-height: 1.5;
  }
  button.learn-more .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: var(--ui-black);
    border-radius: 1.625rem;
  }
  button.learn-more .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
  }
  button.learn-more .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
  }
  button.learn-more .circle .icon.arrow::before {
    position: absolute;
    content: "";
    top: -0.25rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;
    transform: rotate(45deg);
  }
  button.learn-more .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 1.85rem;
    color: var(--ui-black);
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    /* text-transform: uppercase; */
  }
  button:hover .circle {
    width: 100%;
  }
  button:hover .circle .icon.arrow {
    background: #fff;
    transform: translate(1rem, 0);
  }
  button:hover .button-text {
    color: #fff;
  }
  


.secondaryButton {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 24px;
    font-size: 18px;
    font-weight: 500;
    padding: 40px 20px;
}

.secondaryButton:hover {
    background-color: var(--ui-light-grey);
    padding: 40px 16px 40px 20px;
    column-gap: 28px;
}

.purchaseButton {
  background-color: var(--ui-black);
  color: var(--ui-white);
  font-size: 18px;
  padding: 16px 32px;
  border-radius: 32px;

  display: flex;
  flex-direction: row;
  column-gap: 8px;
  align-items: center;
}

.purchaseButton:hover {
  background-color: var(--brand-color);
}

.viewSiteButton {
  color: var(--ui-black);
  font-size: 18px;
  padding: 16px 32px;
  border-radius: 32px;
  border: 2px solid var(--ui-black);
  display: flex;
  flex-direction: row;
  column-gap: 8px;
  align-items: center;
}

.viewSiteButton:hover {
  background-color: var(--ui-light-grey);
}