
<footer class="padding-80-40 border-top" style="margin-top: 160px">

    <a class="listStyle" href="../index.html"><img src="../images/general/logo.png" alt="UIBoat logo"></a>

    <div align="center" class="socialbtns">
        <ul>
            <li><a href="https://twitter.com/UiBoat" class="fa fa-lg fa-twitter" target="_blank"></a></li>
            <li><a href="#" class="fa fa-lg fa-medium" target="_blank"></a></li>
            <li><a href="#" class="fa fa-lg fa-dribbble" target="_blank"></a></li>  
            <li><a href="#" class="fa fa-lg fa-behance" target="_blank"></a></li>  
        </ul>
    </div>

</footer>
