
<footer class="padding-80-40 border-top">

    <a class="listStyle" href="../index.html"><img src="../images/general/logo.png" alt="UIBoat logo"></a>

    <div align="center" class="socialbtns">
        <ul>
            <li><a href="https://twitter.com/UiBoat" class="fa fa-lg fa-twitter" target="_blank"></a></li>
            <!-- <li><a href="#" class="fa fa-lg fa-medium" target="_blank"></a></li> -->
            <li><a href="https://dribbble.com/UIBoatDesign" class="fa fa-lg fa-dribbble" target="_blank"></a></li>  
            <li><a href="https://www.behance.net/uiboatboat" class="fa fa-lg fa-behance" target="_blank"></a></li>  
        </ul>
    </div>

</footer>
