
<div class="header">
  <div class="header__top">
    <button class="header__trigger"></button>
  </div>
  <nav class="header__nav">
    <ul class="header__list">
      <li class="header__item"><a class="header__link" href="https://cydstumpel.nl/">Work</a></li>
      <li class="header__item"><a class="header__link" href="https://cydstumpel.nl/about-me">About</a></li>
      <li class="header__item"><a class="header__link" href="https://cydstumpel.nl/contact">Contact</a></li>
    </ul>
  </nav>
</div>

<!--scripts-->
<script src="scripts/navigation.js"></script>

