

<nav>
    <a class="listStyle" href="../index.html"><img src="../images/general/logo.png" alt="UIBoat logo"></a>

    <ul class="navLinks">
        <li><a id="home" class="listStyle" href="../index.html">Home</a></li>
        <li><a id="catalog" class="listStyle" href="../pages/catalog.html">Catalog</a></li>
        <!-- <li><a id="bundles" class="listStyle" href="../pages/bundles.html">Bundles</a></li> -->
        <li><a id="freebies" class="listStyle" href="../pages/freebies.html">Freebies</a></li>
        <!-- <li><a id="blog" class="listStyle" href="../pages/blog.html">Blog</a></li> -->
        <!-- <li><a id="community" class="listStyle" href="../pages/community.html">Community</a></li> -->
        
    </ul>
      <a href="../sell-on-uiboat.html">
        <button class="learn-more">
          <span class="circle" aria-hidden="true">
            <span class="icon arrow"></span>
          </span>
          <span class="button-text">Sell on UIBoat</span>
        </button>
      </a>
</nav>

